body{
  overflow-x: hidden;
}
.logo-image img{
  height: 3em;
}

.nav-items{
  font-family: 'Noto Sans', sans-serif;
}

.nav-link{
  font-size: 1.2em;
}

.login-button{
  border: .1em solid lightgray;
  border-radius: .5em;
}

.first-background{
  background-color: #fdf8ee;
}